+otazka('Měl(a) jsem v loňském roce povinnost využít poprvé EET   ', 'Sleva na EET', 'Sleva na evidenci tržeb se týká pouze podnikajících fyzických osob. Právnické osoby žádný nárok na slevu na dani v souvislosti se spuštěním EET nemají. Poplatníci začínající s elektronickou evidencí tržeb mají nárok na jednorázovou slevu 5 000 Kč bez ohledu na to, jaké skutečné náklady poplatník na pořízené zařízení vynaložil.')
.form-group
   select#eet.form-control.form-control-lg(
       name='eet',
       required='required')
    option(selected='selected', value='0') Vyberte jednu z možností...
    option(value='5000') ANO, měl jsem loni povinnost využít poprvé EET
    option(value='0') NE, neměl jsem loni povinnost využít poprvé EET
br
hr