h3.otazka Dokončete vyplňování přiznání kliknutím na tlačítko
br
center
   button.btn.btn-outline-success.btn-lg.btn-block.nacti(
       type='button',
       onclick="$('#div28_1').slideDown();")
       | Dokončit daňové přiznání

br
#div28_1.none
  center
    input#generovat.btn.btn-danger.btn-lg.btn-block(type='button', style='max-width: 500px;', value='Vygenerovat daňové přiznání')
    input#download2.btn.btn-danger.btn-lg.btn-block(type='button', style='max-width: 500px;', value='Uložit daňové přiznání')
  br
  br